* {
	box-sizing: border-box;
}

body {
	background: #d4ebf6;
	color: black;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.marco-superior {
    background-color: #7b22b2; /* Color de fondo del marco */
    height: 50px; /* Altura del marco */
    width: 100%; /* Ancho del marco (ocupará todo el ancho de la ventana del navegador) */
    position: fixed; /* Fijar el marco en la parte superior de la ventana */
    top: 0; /* Colocar el marco en la parte superior de la ventana */
    left: 0; /* Colocar el marco en la parte izquierda de la ventana */
    z-index: 1000; /* Asegurar que el marco esté en la parte superior de otros elementos */
}

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	text-align: center;
    margin-top: 100px;
    color: #4d54ff;
    font-size: 40px;
}


/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: #7b22b2;
	border-radius: 20px;
	border-color: white;
	
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
	width: 100%;
    height: 430px;	
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.carousel__lista .carousel__elemento{
	width: 250px;
    height: 430px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background: #ffffff;
}

.carousel__lista .carousel__elemento:hover{
	transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/* posible cambio */
.carousel__lista .carousel__elemento img{
	width: 130px;
    height: 210px;
}

.carousel__lista .carousel__elemento p{
	margin: 10px;
    padding: 0 1rem;
    font-size: 18px;
    font-weight: 30000;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}